.form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding:  0 15px 10px 0;
  width: 100%;
}

.form__input {
  width: 95%;
}

.send__button {
  color: var(--color-button-primary);
  width: 25px;
  height: 25px;
}

.send__icon {
  width: 100%;
  height: 100%;
}