.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 16px;
  margin: 0;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.button__primary {
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-button-primary);
  border: none;
  border-radius: 52px;
  padding: 8px 12px;
}

.button__primary:hover {
  color: var(--color-white);
  background-color: var(--color-hover-blue);
}

.button__primary:disabled {
  background-color: var(--color-disabled-gray);
}

.button__outlined {
  background-color: transparent;
  border: 1px solid var(--color-text-light-blue);
  border-radius: 52px;
  box-shadow: 0px 1px 1px  var(--color-text-light-blue);
  color: var(--color-text-light-blue);
  font-weight: var(--font-weight-bold);
  padding: 8px 12px;
}

.button__outlined:hover {
  color: var(--color-background-light-blue);
  border: 1px solid var(--color-background-light-blue);
  box-shadow: 0px 1px 1px  var(--color-background-light-blue);
}

.button__outlined:disabled {
  color: var(--color-white);
  background-color: var(--color-disabled-gray);
  border: none;
}