.main-page {
  display: flex;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.select-chat-message {
  background-color: var(--color-background-light-gray);
  display: flex;
  justify-content: center;
  padding: 55px 25px;
  width: 65%;
}

.select-chat-text {
  text-align: center;
}