.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sign-in-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-in-header {
  color: var(--color-button-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-h2);
  text-align: center;
}

.head-message {
  font-size: var( --font-size-main-text);
}

.head-message-link {
  font-weight: var(--font-weight-bold);
}

.error {
  color: var( --color-error-red);
}